:root {
  --primary: #6979f8;
  --secondary: #be52f2;
  --success: #00c48c;
  --info: #0084f4;
  --warning: #ffa268;
  --danger: #ff647c;

  --bg-dark: #1e1e1e;
  --bg-white: #ffffff;

  // hover
  --primary-hover: #a5affb;
  --secondary-hover: #dba5f5;
  --success-hover: #7ddfc3;
  --info-hover: #66b5f8;
  --warning-hover: #ffc7a6;
  --danger-hover: #fdaf88;

  --card-border: 1px solid #dfe7ef;

  // font weights
  --regular: 400;
  --semibold: 600;

  // font size
  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;

  // spacing
  --spacing-05: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 3.5rem;
  --spacing-8: 4rem;
  --spacing-9: 4.5rem;
  --spacing-10: 5rem;
}

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  background: #fafafa;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}
