.title {
  display: flex;
  justify-content: end;
  min-width: 100%;
}

.btn_icon {
  color: var(--primary);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}