.vs-icon {
  display: flex;

  &:hover {
    color: var(--vs-icon-hover-color) !important;
  }

  &--small {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
  }

  &--medium {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  &--large {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
  }
}
