.vs-popper {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: var(--bg-white);
  border: 1px solid #ccc;
  border-radius: 8px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.6s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
